.floater {
    position: absolute;
    width: 300px;
    border: 1px solid black;
    background: #eeeeee;
    padding: 24px;
    z-index: 1000;
    user-select: none;
}

.floater h3 {
    margin: 0 0 12px 0;
    font-size: 1.1rem;
}

.floater p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.4;
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: black;
    border-radius: 0;
    color: white;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: white;
        color: black;
    }
}

.container {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
}

.containerAnim {
    border: 1px solid red;
    color: red;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    clip-path: inset(-1000px -300px 0 -300px); 
    z-index: 1000;
}

/* .floaterContainer[data-animating="true"] {
    clip-path: inset(0 0 0 0);
} */
