.floater {
    position: absolute;
    width: auto;
    max-width: 300px;
    border: 1px solid black;
    background: #eeeeee;
    padding: 16px;
    z-index: 1000;
    /* user-select: none; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    pointer-events: all;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    cursor: grab;
}

.floater.tall {
    max-width: 200px;
}



.floater h3 {
    margin: 0 0 12px 0;
    font-size: 1.1rem;
}

.floater p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.4;
}

.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: black;
    border-radius: 0;
    color: white;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: white;
        color: black;
    }
}

.mask {
    /* border: 1px solid red; */
    /* color: red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    /* clip-path: inset(0 0 0 0); */
}

.pic {
    width: 100%;
    margin: 0 0 12px 0;
    padding: 0;
}

.pic img {
    width: 100%;
    height: auto;
    display: block;
}

.floaterContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

.constraints {
    border: 1px solid blue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}