
#root {
  /* max-width: 720px;
  margin: 200px auto;
  padding: 2rem; */
  /* text-align: center; */
  width: 100%;
  height: 100%;
}


/* address {
  display: inline-flex;
  flex-direction: row;
  justify-content: right;
  gap: 24px;
  text-decoration: underline;
  width: 100%;
}

h1 {
  margin: 0;
} */