#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

address {
  display: inline-flex;
  flex-direction: row;
  justify-content: right;
  gap: 24px;
  text-decoration: underline;
  width: 100%;
}

h1 {
  margin: 0;
}