
main {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 200px auto; */
    /* padding: 2rem; */
}
article {
    /* border: 1px solid green; */
    padding: 2rem;
    margin: 10rem auto;
    max-width: 720px;
}